
<h1 class="adminHeader">Products</h1>
<a ng-href="/#/admin"><button class="adminOrders">Orders</button></a>
<a class="adminLogout"><button ng-href="/api/logout">log out</button></a></br>
<button ng-click="showProducts=!showProducts" class="adminButton">Get All Products</button>
<div class="container" ng-repeat="product in products" ng-show="showProducts">
	<img class="thumbnailImage"ng-src={{product.image[0]}} /> <br>
	{{product.name}} {{product.category}} {{product.price | currency}} <br>
	{{product.descriptionShort}}
	<div class="msgBtn">
		<a ng-href="#/inventory/{{product._id}}/update"> <button type="button" class="btn btn-primary btn-xs" ng-click="getAProduct(product._id)">update</button></a><button type="button" class="btn btn-xs" ng-click="deleteProduct(product._id, $index)">Delete</button>
	</div>
	<hr>
</div>
<br>
<br>

<button class="adminButton" ng-click="addProducts=!addProducts">Add Product</button>
<div class="container" ng-show="!addProducts"><br><br>
	<div class="col-lg-12 well">
	<div class="row">

		<form ng-submit="addProduct(product)">
            <h4>Add Image</h4>
    		<input type="file" ngf-select ng-model="images" ngf-multiple="true" accept="image/*" fileread id="fu"/>
			<div class="col-sm-12">
				<h3>Product Information</h3>
				<div class="row">
					<div class="col-sm-6 form-group">
						<label>Product Name</label>
						<input type="text", placeholder="Product Name" class="form-control" ng-model="product.name">
					</div>
					<div class="col-sm-6 form-group">
						<label>Price</label>
						<input type="text", placeholder="Price" class="form-control" ng-model="product.price">
					</div>
				</div>
				<div class="form-group">
						<label>Description (Long)</label>
						<textarea placeholder="In-depth product description to show when customer clicks on this product" rows="3" class="form-control" ng-model="product.descriptionLong"></textarea>
				</div>
				<div class="form-group">
						<label>Description (Short)</label>
						<textarea maxlength="40" placeholder="Brief product description to show on products page (max 40 characters)" rows="3" class="form-control" ng-model="product.descriptionShort"></textarea>
				</div>
				<div class="row">
					<div class="col-sm-4 form-group">
						<label>Category</label>
						<input type="text" placeholder="Tops, Bottoms, Accessories, etc." class="form-control" ng-model="product.category">
					</div>
					<div class="col-sm-4 form-group">
						<label>Quantity</label>
						<input type="text" placeholder="Total Quantity" class="form-control" ng-model="product.stockTotal">
					</div>
					<div class="col-sm-4 form-group">
						<label>Gender</label>
						<input type="text" class="form-control" ng-model="product.gender">
					</div>
					</div>
					 <br>
					 
				<div class="checkbox">
  					<label><input ng-model="product.newArrival" type="checkbox" value="true">New Arrival</label><br>
					<label><input ng-model="product.sale" type="checkbox" value="true">Sale</label>
				</div>	 
                
				<!--Begin Options	-->
				<div class="checkbox">
  					<label><input ng-click="showOptions=!showOptions" type="checkbox" name="Options">Product Options</label><br>
				</div> <br>
				<div class="row" ng-show="showOptions">
					<div class="col-sm-3 form-group">
						<label>Option Name <select name="optionName" class="select-field" ng-model="product.options.optionName">
								<option>Size</option>
								<!--<option>Color</option>-->
          			</select></label>
					</div>
					<div class="col-sm-3 form-group">
						<label>Sizes <select ng-model='newProduct.options.optionValues.name'>
								<option class="select-dash" disabled="disabled">--TOPS--</option>
									<option>Extra Small</option>	
									<option>Small</option>
									<option>Medium</option>
									<option>Large</option>
									<option>Extra Large</option>
								<option class="select-dash" disabled="disabled">--BOTTOMS/MALE--</option>
									<option>32</option>	
									<option>33</option>
									<option>34</option>
									<option>35</option>
									<option>36</option>
								<option class="select-dash" disabled="disabled">--BOTTOMS/FEMALE--</option>
									<option>Extra Small</option>	
									<option>Small</option>
									<option>Medium</option>
									<option>Large</option>
									<option>Extra Large</option>
								<option class="select-dash" disabled="disabled">--SHOES--</option>
									<option>4</option>	
									<option>5</option>
									<option>6</option>
									<option>7</option>
									<option>7.5</option>
									<option>8</option>	
									<option>8.5</option>
									<option>9</option>
									<option>9.5</option>
									<option>10</option>
									<option>10.5</option>
									<option>11</option>
									<option>12</option>
								<option class="select-dash" disabled="disabled">Accessories</option>
          			</select></label>
					</div>
					<div class="col-sm-3 form-group">
						<label>Quantity</label>
						<input type="number" ng-model='newProduct.options.optionValues.count' placeholder='Count'>
					</div> <br>
					<button  class="btn btn-lg" ng-click='addOptions(newProduct.options.optionValues)'>Add options</button><br>
					<div ng-repeat='option in options'>+{{option.count}} {{option.name}}</div>
				</div>
				</div> <br><br>
				</div>

				<input type="submit" class="btn btn-lg" value="Save"/>

				</div>
		</form>	
	</div>
 </div>
 </div>
