<!--<navbar></navbar>-->

<div class="checkout_page">
            <div class="container wrapper">
                <div>
                    <div class="container">
                    </div>
                </div>
            </div>
            <div>
                <form class="form-horizontal" method="POST" action="http://www.derelicteclothing.com/api/checkout" name="formName">
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
                        <div class="panel panel-primary">
                            <div class="panel-heading panel-heading-custom">
                                Review Order <div class="pull-right"><small><a href="#" ng-click="getCart()">Edit Cart</a></small></div>
                            </div>
                            <div class="panel-body">
                                <div class="form-group" ng-repeat="product in reviewCart track by $index">
                                    <div class="col-sm-3 col-xs-3">
                                        <img ng-src="{{product.image[0]}}" class="thumbnailImage"/>
                                    </div>
                                    <div class="col-sm-6 col-xs-6">
                                        <div class="col-xs-12">{{product.name}}</div>
                                        <div class="col-xs-12"><small>Quantity:<span>1</span></small></div>
                                    </div>
                                    <div class="col-sm-3 col-xs-3 text-right">
                                        <h6><span>{{product.price | currency}}</span></h6>
                                    </div>
                                    <button class="btn" ng-click="removeProduct($index)">x</button>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Subtotal</strong>
                                        <div class="pull-right"><span>{{subtotal | currency}}</span><span></span></div>
                                    </div>
                                    <div class="col-xs-12">
                                        <!--<small>Shipping</small>-->
                                        <!--<div class="pull-right"><span>{{shipping.option | currency}}</span></div>-->
                                        <!-- <a type="button" class="btn btn-xs dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> shipping <span class="caret"></span></a>
                                        <ul class="dropdown-menu">
                                            <li><a ng-click='shipping(1)'>fedex standard free</a></li>
                                            <li><a ng-click="shipping(2)">fedex express $10</a></li>
                                            <li><a ng-click="shipping(3)">fedex overnight $20</a></li>
                                            <li><a ng-click="shipping(4)">USPS free</a></li>
                                            <li><a ng-click="shipping(5)">UPS standard free</a></li>
                                            <li><a ng-click="shipping(6)">UPS express $10</a></li>
                                            <li><a ng-click="shipping(7)">UPS express $20</a></li>
                                        </ul> -->
                                        <label>Shipping</br><select name="shipping" class="select-field" ng-model="shippingCost" ng-change="shipping(shippingCost)" ng-options="cost.price as cost.name for cost in shippingCosts">
                                        </select></label>
                                    </div>
                                    <div class="col-xs-12">
                                        <div class="pull-right">{{costOfShipping | currency}}</div>
                                    </div>
                                </div>
                                <div class="form-group"><hr /></div>
                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <strong>Order Total</strong>
                                        <div class="pull-right"><span>{{total | currency}}</span></div>
                                    </div>
                                </div>
                                <div class="floatButtonRight" ng-show="formName.email_address.$invalid">
                                    <button id="fakePayBtn">Pay with Card</button>
                                </div>
                                <div class="floatButtonRight" ng-show="formName.email_address.$valid">
                                    <!-- <form action="http://requestb.in/18kaifo1" method="POST"> -->
                                        <script
                                            src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                                            data-key="pk_test_mFqWlaAs5uKqHQoSkm1Owrqv"
                                            data-image="http://i246.photobucket.com/albums/gg83/serapis/ooohderelicte.png"
                                            data-name="Derelicte clothing"
                                            data-description="2 widgets"
                                            data-amount={{stripeTotal}}
                                            data-locale="auto">
                                        </script>
                                    <!-- </form> -->
                                </div>
                            </div>
                        </div>
            
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
                        
                        <div class="panel panel-primary">
                            <div class="panel-heading panel-heading-custom">Address</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>Ship To:</h4>
                                    </div>
                                </div>
                                <!--<div class="form-group">
                                    <div class="col-md-12"><strong>Country:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" class="form-control" name="country" value="" />
                                    </div>
                                </div>-->
                                <div class="form-group">
                                    <div class="col-md-6 col-xs-12">
                                        <strong>First Name:</strong>
                                        <input type="text" name="first_name" class="validate form-control" value="" ng-model="user.firstName" required/>
                                    </div>
                                    <div class="span1"></div>
                                    <div class="col-md-6 col-xs-12">
                                        <strong>Last Name:</strong>
                                        <input type="text" name="last_name" class="form-control" value="" ng-model="user.lastName" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Address:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" name="address" class="form-control" value="" ng-model="user.address" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>City:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" name="city" class="form-control" value="" ng-model="user.city" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>State:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" name="state" class="form-control" value="" ng-model="user.state" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Zip / Postal Code:</strong></div>
                                    <div class="col-md-12">
                                        <input type="text" name="zip_code" class="form-control" value="" ng-model="user.zip" required/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-md-12"><strong>Phone Number:</strong></div>
                                    <div class="col-md-12"><input type="text" name="phone_number" class="form-control" value="" ng-model="user.phoneNumber" required/></div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-12"><strong>Email Address:</strong></div>
                                    <div class="col-md-12"><input type="email" name="email_address" class="validate form-control" value="" ng-model="user.email" required/></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--<div style="position: absolute; bottom: 10; left: 10;">
                    <button ng-click="submitOrder()" ng-disabled="formName.first_name.$invalid">submit order<button>
                </div> -->
                </form>  
            </div>


</div>
