<div class="home_footer">
        
                <span class="footer_info">
                    ABOUT US
                    <br>
                    faq
                    <br>
                    careers
                    <br>
                    track my order
                </span>

                <span class="footer_info">

                    CONTACT US
                    <br>
                    <i class="fa fa-map-marker">    123 sample st, provo, ut 84601</i>
                    <br>
                    <i class="fa fa-phone-square">  (111) 111-1111</i>
                    <br>
                    <a ng-href="#/contactus"><i class="fa fa-envelope">  contact@derelicte.com</i></a>    

                </span>

                <span class="footer_info">
                    FOLLOW US
                    <br>
                    <i class="fa fa-facebook-square">   derelicte</i>
                    <br>
                    <i class="fa fa-twitter-square"> @derelicte_clothes</i>
                    <br>
                    <i class="fa fa-instagram"> @derelicte_clothes</i>
                </span>

</div>
