<div class="home_footer">
        
                <div id="store_about_us">
                    ABOUT US
                    <br>
                    faq
                    <br>
                    careers
                    <br>
                    track my order
                </div>

                <div id="store_contact">

                    CONTACT US
                    <br>
                    <i class="fa fa-map-marker">    123 sample st, provo, ut 84601</i>
                    <br>
                    <i class="fa fa-phone-square">  (111) 111-1111</i>
                    <br>
                    <i class="fa fa-envelope">  contact@derelicte.com</i>  

                </div>

                <div id="store_social_media">
                    FOLLOW US
                    <br>
                    <i class="fa fa-facebook-square">   derelicte</i>
                    <br>
                    <i class="fa fa-twitter-square"> @derelicte_clothes</i>
                    <br>
                    <i class="fa fa-instagram"> @derelicte_clothes</i>
                </div>

</div>
