<div id="navbar">
    <div class="nav_info">
        <span class="store_name">Derelicte</span>   <span class="nav_user_info" data-toggle="modal" data-target="#myLogin"><i class="fa fa-user"></i>  MY ACCOUNT</span> <span class="nav_user_info"><i class="fa fa-opencart"></i>    CART (0)</span>   <span class="nav_user_info"><i class="fa fa-search"></i>    <input type="text"/></span>
    </div>
    <div class="nav_browser">
        <span class="browser_categories">NEW ARRIVALS</span>    <span class="browser_categories">TOPS</span>    <span class="browser_categories">BOTTOMS</span> <span class="browser_categories">SHOES</span>  <span class="browser_categories">JEWELRY</span> <span class="browser_categories">ACCESSORIES</span>    <span class="browser_categories">SALE</span>
    </div>
</div>