<div>
<div id="navbar">
    <div class="nav_info">
        <span class="store_name" ng-click="goHome()">Derelicte</span>   
        <span class="nav_user_info" data-toggle="modal" data-target="#myLogin" ng-show="!currentUser"><i class="fa fa-user"></i>  LOGIN</span> 
        <span class="nav_user_info" data-toggle="modal" data-target="#myAccount" ng-show="currentUser"><i class="fa fa-user"></i>  MY ACCOUNT <a class="logout" ng-href="/api/logout">(log out)</a></span>
        <span class="nav_user_info" data-toggle="modal" data-target="#myCart" ng-click="getCart()"><i class="fa fa-opencart"></i>    CART({{cart.length}})</span>   
        <span class="nav_user_info"><i class="fa fa-search"></i>    <input type="text"/></span>
    </div>
    <div class="nav_browser">
    <a ng-href="#/home/newarrivals"><span class="browser_categories">NEW ARRIVALS</span></a>    <a ng-href="#/home/tops"><span class="browser_categories">TOPS</span></a>   <a ng-href="#/home/bottoms"><span class="browser_categories">BOTTOMS</span></a> 
        <a ng-href="#/home/shoes"><span class="browser_categories">SHOES</span></a>  <a ng-href="#/home/jewelry"><span class="browser_categories">JEWELRY</span></a> <a ng-href="#/home/accessories"><span class="browser_categories">ACCESSORIES</span></a>    
        <a ng-href="#/home/sale"><span class="browser_categories">SALE</span></a>
    </div>
</div>

 <!-- Login Modal -->
        <div id="myLogin" class="modal fade" role="dialog">
          <div class="myLogin-dialog">

            <!-- Login Modal content-->
            <div class="myLogin-content">
                    
              <div class="myLogin-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>
                  <ul class="nav nav-tabs" id="tabContent">
                    <li><a class="modalTab" href="#login" data-toggle="tab">LOGIN</a></li>
                    <li><a class="modalTab" href="#register" data-toggle="tab">REGISTER</a></li>
                  </ul>

                  <div class="tab-content">
                      <div class="tab-pane active" id="login">
                            Email: <br> <input type="email" ng-model="user.email"><br><br>
                            Password: <br> <input type="password" ng-model="user.password"><br><br>
                            <button ng-click="loginUser(user)" data-dismiss="modal">Login</button>
                        </div>
                    
                        <div class="tab-pane" id="register">
                            Email: <br> <input type="email" ng-model="user.email"><br><br>
                            Password: <br> <input type="password" ng-model="user.passsword"><br><br>
                            Confirm Password: <br> <input type="password" ng-model="user.password"><br><br>
                            <button ng-click="createUser(user)" data-dismiss="modal">Sign Up</button>
                        </div> 
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
        
<!-- Account Modal -->
        <div id="myAccount" class="modal fade" role="dialog">
          <div class="myAccount-dialog">

            <div class="myAccount-content">
                    
              <div class="myAccount-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <div>   
                  <ul class="nav nav-tabs" id="tabContent">
                    <li><a class="modalTab" href="#customerInfo" data-toggle="tab">ACCOUNT</a></li>
                    <li><a class="modalTab" href="#shipping" data-toggle="tab">SHIPPING</a></li>
                    <li><a class="modalTab" href="#orderHistory" data-toggle="tab">ORDERS</a></li>
                  </ul>

                  <div class="tab-content">
                      <div class="tab-pane active" id="customerInfo">
                          <form>
                            Email:  <input type="text" ng-model="currentUser.email"/><br>
                            Phone: <input type="text" ng-model="currentUser.phoneNumber"/><br><br>
                            <button ng-click="updateUser(currentUser)">Update</button>
                          </form>
                        </div>
                    
                        <div class="tab-pane" id="shipping">
                            Name: <input type="text" size="10" ng-model="currentUser.firstName"/> <input type="text" size="10" ng-model="currentUser.lastName"/><br>
                            Address: <input type="text" ng-model="currentUser.address"/><br>
                            City: <input type="text" size="12" ng-model="currentUser.city"/><br>
                            State: <input type="text" size="3" maxlength="2" ng-model="currentUser.state"/><br>
                            Zip Code: <input type="text" size="6" maxlength="5" ng-model="currentUser.zip"/><br><br>
                            <button ng-click="updateUser(currentUser)">Update</button>
                        </div> 
                      
                      <div class="tab-pane" id="orderHistory">
                            Order History
                        </div>
                      
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>

<!-- Cart Modal -->
        <div id="myCart" class="modal" role="dialog">
          <div class="myCart-dialog">
            <div class="myCart-content">
              <div class="myCart-header">
                <button type="button" class="close close_cart" data-dismiss="modal">&times;</button>
              </div>
                <div class="cart_list" ng-repeat="product in cart track by $index">
                    <span><img ng-src="{{product.image[0]}}" class="thumbnailImage"/></span>
                    <span>{{product.name}}</span>
                    <span>{{product.options.optionValues.name}}</span><br>
                    <span>{{product.price | currency}}</span>
                    
                    <button class="btn removeItem" ng-click="removeProduct($index)">x</button>
                </div>
            <span class="cart_list pull-right">{{subtotal | currency}}</span>
                <button data-dismiss="modal" ng-click="checkout()">Checkout</button>
            </div>
          </div>
        </div>
</div>