<div class="container">

    <div class="row" style="width : 100%">
        <div style="display: flex; flex-wrap: wrap; justify-content: space-around" >
            <div ng-repeat ="product in products" style="width: calc(100% * (1/3));">
                <div class="thumbnail" style="margin: 1%;">
                    <img class="group list-group-image" src="http://placehold.it/400x250/000/fff" />
                <div class="caption">
                    <h4>{{product.name}}</h4>
                    <p>{{product.descriptionShort}}</p>
                    <p>{{product.price | currency}}</p>
                    <p>
                        <a href="#" class="btn btn-sm" role="button">Button</a> 
                        <a href="#" class="btn btn-sm pull-right" role="button">Button</a>
                    </p>
                </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

