<div class="container product_info_container">

    <span class="productFilterSelection"><input type="radio" ng-model="filterProducts" value=""/> All </span>
    <span class="productFilterSelection"><input type="radio" ng-model="filterProducts" value="boy"/> Men's </span>
    <span class="productFilterSelection"><input type="radio" ng-model="filterProducts" value="girl"/> Women's </span><br><br>
    <div class="row">
        <div class="products1">
            <div class="products" ng-repeat="product in products | filter: filterProducts">
                <div class="thumbnail">
                    <div class="group list-group-image" data-toggle="modal" data-target="#productInfo" ng-click="selectProduct(product)">
                        <img class="customImg center-block" ng-src="{{product.image[0]}}" />
                    </div>
                <div class="caption">
                    <h4>{{product.name}}</h4>
                    <p>{{product.descriptionShort}}</p>
                    <p>{{product.price | currency}}</p>
                    <button ng-click="addToCart(product)" class="btn btn-sm pull-right" role="button"><i class="fa fa-cart-plus fa-lg"></i></button>
                </div>
                </div>
                
            </div>
            
        </div>
    </div>
    
</div>

<!-- PRODUCT INFO MODAL -->
<div id="productInfo" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">{{selectedProduct.name}}</h2>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <img class="customImg prodInfoImg" ng-src="{{selectedProduct.image[0]}}"/>
        <div class="prodInfo">
            {{selectedProduct.descriptionLong}}<br><br>
            {{selectedProduct.price | currency}}
        </div>
      </div>
      <div class="modal-footer">
      </div>
    </div>

  </div>
</div>

<footer></footer>
