<div class="container">

    <div class="row">
        <div class="products1">
            <div class="products" ng-repeat ="product in products">
                <div class="thumbnail">
                    <div class="group list-group-image backgroundColor">
                        <img class="customImg" ng-src="{{product.image[0]}}" />
                    </div>
                <div class="caption">
                    <h4>{{product.name}}</h4>
                    <p>{{product.descriptionShort}}</p>
                    <p>{{product.price | currency}}</p>
                    <p>
                        <button class="btn btn-sm" role="button"><i class="fa fa-info-circle fa-lg"></i></button> 
                        <button ng-click="addToCart(product)" class="btn btn-sm pull-right" role="button"><i class="fa fa-cart-plus fa-lg"></i></button>
                    </p>
                </div>
                </div>
                
            </div>
            
        </div>
    </div>
</div>

